<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!--param name="robot_description" command="$(find xacro)/xacro.py ./xacro/dtw_robot2.xacro"/-->
    <param name="robot_description" textfile="./urdf/kettle.urdf"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <include file="$(find fetch_gazebo)/launch/include/fetch.launch.xml" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 1.0 -y 0.0 -z 0.4 -R 0.4 -P 0.4 -Y 0.4 -model dtw_robot" />
</launch>
